.About-content {
  margin-top: 200px;
  width: 50vw;
  position: absolute;
  top: 25vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 2vw;
}

.About-title {
  font-size: 65px;
}

.About-subtitle {
  text-align: left;
  margin-top: 50px;
  font-size: x-large;
  overflow-wrap: break-word;
}
.About-time {
  padding: 2vw;
  text-align: center;
  margin-top: 3vw;
  background-color: black;
  border-radius: 2vw;
  box-shadow: 0.5vw 0.5vw orange;
}
.About-text {
  height: fit-content;
  margin-top: 3vw;
  padding: 2vw;
  background-color: black;
  border-radius: 2vw;
  box-shadow: 0.5vw 0.5vw orange;
}

@media screen and (max-width: 650px) {
  .About-text, .About-time {
    font-size: small;
  }
}

@media screen and (max-width: 900px) {
  .About-text, .About-time {
    font-size:medium;
  }
}

@media screen and (max-width: 1150px) {
  .About-text, .About-time {
    font-size:large;
  }
  .About-content {
    top: 700px;
  }
}

@media screen and (max-width: 1400px) {
  .About-content {
    margin-top: 300px;
  }

  .About-content {
    top: 700px;
  }
}