html {
    scroll-behavior: smooth;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


.Home-orange {
    color: orange;
}

.Home-title {
    font-size: 65px;
}

.Home-subtitle {
    margin-top: 50px;
    font-size: 35px;
}

.Home-content1 {
    text-align: center;
    color: white;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.Home-triangle {
    margin-left: 50%;
    margin-top: 35px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid orange;
    transform: translate(-50%, -50%) rotate(180deg);
}

.Home-content2 {
    position: absolute;
    top: 100vh;
}

.Home-list {
    margin-top: 10vh;
    display: flex;
} 

.Home-obj {
    background-color: black;
    width: calc(60vw/3);
    min-height: 60vh;
    margin-bottom: 25vh;
    margin-left: calc(30vw/3);
    color: white;
    border-radius: 2vw;
    box-shadow: 0.5vw 0.5vw orange;
}

.Home-objTitle, .Home-Text {
    width: calc(60vw/3 - 60px);
    overflow-wrap: break-word;
    padding: 30px;
}

.Home-objTitle {
    font-size: xx-large;
    font-weight: bold;
}

.Home-Text {
    font-size: large;
}
.Home-equipment-img{
    width: 16vw;
}
.Home-people-img{
    width: 16vw;
}
.Home-ticket-img{
    width: 16vw; 
}
  
@media screen and (max-width: 1150px) {
    .Home-content1 {
        top: 600px;
    }
    
    .Home-list {
        flex-direction: column;
    }

    .Home-obj {
        width: 80vw;
    }
    
    .Home-objTitle, .Home-Text {
        width: calc(80vw - 60px);
    }

    .Home-equipment-img{
        width: 60vw;
    }
    .Home-people-img{
        width: 60vw;
    }
    .Home-ticket-img{
        width: 60vw; 
    }
  }
  